#game-board{"ng-controller" => "gameController"}
  .misses
    %label Misses:
    %span.value 
      {{ misses }}
  .word
    %position{"ng-repeat"=>"position in positions track by $index"}
  %ul.letters
    - ("A".."Z").each do |letter|
      %li.letter
        %button{:type=>"button", :name=>"letter_#{letter}"} 
          = letter
