#game-board
  .misses
    %label Misses:
    %span.value 0
  .word{"ng-controller" => "wordController"}
    %span.position{"ng-repeat"=>"position in positions track by $index"}
      {{ position }}
  %ul.letters
    - ("A".."Z").each do |letter|
      %li.letter
        %button{:type=>"button", :name=>"letter_#{letter}"} 
          = letter
