#game-board
  .misses
    %label Misses:
    %span.value 
      {{ misses }}
  .word
    %position{"ng-repeat"=>"position in positions track by $index"}
  %ul.letters
    - Guess::RANGE.each do |letter|
      %li.letter{}
        %button{:type=>"button", :name=>"letter_#{letter}", :value => letter, "ng-click"=>"makeGuess('#{letter}')", "ng-class"=>"{ 'guessed' : guesses.indexOf('#{letter}') >= 0 }" } 
          = letter
