#game-board
  .misses
    %canvas#hangman-display{:width=>"300", :height=>"400", "hangman-display" => ""}
  .word-section
    .word
      %span.position{"ng-repeat"=>"position in positions track by $index", "ng-class" => "{ 'blank' : position == null,'space' : position == ' ' }"}
        {{ position }}
    - Guess::RANGE.each do |letter|
      %li.letter{}
        %button{:type=>"button", :name=>"letter_#{letter}", :value => letter, "ng-click"=>"makeGuess('#{letter}')", "ng-class"=>"{ 'guessed' : guesses.indexOf('#{letter}') >= 0 }" } 
          = letter
