#home-view
  .title
    .overlay
      %h1 Hangman
      %h2 By Craig Walker
      %button.btn.btn-info.new-game{"ng-click"=>"newGame()"} Start a New Game
  .games-section
    .container-fluid
      .row
        .col-md-6.col-md-offset-3
          %h2 Shall We Play A Game?
          %p
            Hangman: The classic life-and-death game of letter guessing. But really an exercise in <a href="https://github.com/softcraft-development/hangman_challenge">software development</a>.
          %p
            Start a <a class="new-game" href="#" ng-click="newGame()">new game</a>, or choose from one of these open games:
          %ul.games
            %li{"ng-repeat"=>"game in openGames"}
              %a{:href=>"#/game/{{game.id}}"} Game {{game.id}}