/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require load_bootstrap
 *= require_tree .
 *= require_self
 */

#site-navigation
  background-color: #3870bd
  a
    color: white
    &:hover
      color: #8881da

#site-footer
  margin-top: 2em


#home-view
  .title
    background:
      image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.75)), url(image-path("gallows.jpg"))
      repeat: no-repeat
      size: cover
      position: 50% 50%
    min-height: 400px
    padding:
      top: 4em
      bottom: 4em
    margin-top: 50px
    color: white
    .overlay
      background-color: rgba(0,0,0,0.67)
      border-radius: 0.5em
      margin: 0.5em
      padding: 1em
      h1
        font-size: 400%
      h2
        margin-bottom: 1em
      @media (min-width:768px)
        margin: 4em
        padding: 4em
        h1
          font-size: 600%

#game-board
  .word
    .position
      display: inline-block
      width: 1em
      height: 1em
      margin:
        left: 0.5em
        right: 0.5em
      &.blank
        border-bottom: 3px solid black
  .letters
    list-style-type: none
    .letter
      display: inline-block
      .guessed
        background-color: red
